/*-------variables---------------------*/
:root {
    --color-primary:#1F2937;
    --secondary-blue:#186F8F80;            /*btn hover--------*/
    --color-sidebar-btn:#186F8F26;            /*btn side bar--------*/
    --color-text-primary:#202A38;
    --color-card-bg:#80BFDD;
    --gradient-login-start:#384A63;               /*start login*/
    --gradient-login-end:#58759D;            /*gradient  at login page*/
    --color-btn-primary:#1D4155;
    --color-danger:#FC1515;  
    --color-danger-light:#E6B2B2;    
    --color-warning:#F2F465;    
    --color-success: #3FC856;    
    --color-success-light:#BDEBBF; 
    --white: #FFFFFF;
    --black:#000000;
    --color-background:#D9D9D9;
    /*---font weight--*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700; 
    /*font family*/
    --font-primary: "Instrument Sans", sans-serif;
    --font-secondary: "KyivType Sans", sans-serif;
    /* font size*/
    --text-lg:  1.25rem;  /* 20px */
    --text-md:  1.5rem;    /* 24px  */
    --text-xl:  1.62rem;  /* 26px */
    --text-2xl: 2rem;     /* 32px */
    --text-3xl: 2.25rem;  /* 36px */
    --text-4xl: 2.5rem;   /* 40px */
   --text-5xl: 3rem;     /* 48px */
    /*--border radius---*/
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 22px;
    --radius-full: 9999px;
    /*----------------*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
    --space-xxxl: 64px;

}
.demo{

margin-top:20px;
margin-left: 400px;
display:flex;
gap:20px;
flex-wrap:wrap;
}
section{
margin-bottom:60px;
}
body{
    background: var(--color-background);
    font-family: var(--font-primary);
}
/*-----------sidebar----------------*/
.side-bar{
    width: 350px;
    height: 100vh;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
}

/*--------------bottons--------*/
.btn-log{
    background: linear-gradient(82deg, var(--gradient-login-start), var(--gradient-login-end));
    width: 382px;
    height: 86px;
    border: none;
    border-radius: var(--radius-lg);
    cursor: pointer;
    font-family: var( --font-primary);
    color: var( --white);
    text-align: center;
    font-weight: var(--font-bold);
    font-size:var(--text-4xl) ;

}
/*------btn use with btn-blue ,red -,save---------*/
.btn{
    width: 270px;
    height: 70px;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    color: var( --white);
    text-align: center;
    font-weight: var(--font-bold);
    font-size:var( --text-xl) ;
}
.btn-blue{
    background: var(--color-btn-primary); 
}
.btn-red{
    background-color:var(--color-danger) ;
}
.btn-save{
    background: linear-gradient(to bottom, var(--color-primary), var(--secondary-blue));
    border-radius: var(--radius-lg);
    justify-content: center;
    gap: 0.5rem;
    display: inline-flex;
    align-items: center;
}
/*---------------------------------------------*/
.btn-sidebar{
    width: 320px;
    height:85px;
    background: var(--color-sidebar-btn);
    font-weight: var(--font-semibold);
    font-size:var(--text-2xl) ;
    justify-content: center;
    gap: 0.5rem;
    display: inline-flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: var(--radius-lg);
    transition: all 0.3s ease;
}
.btn-sidebar:hover{
    background: var(--secondary-blue); 
}
.btn-level{
    width: 145px;
    height: 50px;
    background: var(--white);
    text-align: center;
    color:var(--black)  ;
    font-size: var(--text-md);
    font-weight: var(--font-semibold);
    cursor: pointer;
    border: none;
    border-radius: var(--radius-sm);
    transition: all 0.3s ease;
}
.btn-level:hover{
    background: var(--color-primary);
    color:var(--white) ;

}
.btn-edit{
    width:126px ;
    height: 62px;
    background: var(--white);
    text-align: center;
    color:var(--black)  ;
    font-size: var(--text-md);
    font-weight: var(--font-semibold);
    cursor: pointer;
    border: none;
    border-radius: var(--radius-sm);
    transition: all 0.3s ease;

}
.btn-edit:hover{
    background: var(--color-btn-primary);
    color:var(--white) ;
}
/*-----------------------------------cards------------------------------------------*/
.main-card{
    width: 527px;
    height: 287px;
    border-radius: var(--radius-lg);
    background:var(--white) ;
    
    
}
.card h2{
    color: var(--color-text-primary);
    font-size: var(--text-2xl) ;
    font-weight: var(--font-semibold);
    margin-bottom: var(--space-sm);
}
.card p{
    font-size: var(--text-lg);
    color: var(--color-text-primary);
    line-height: 1.6;

}
.side-card{
    width: 320px; 
    height: 234px;
    background: var(--color-sidebar-btn);
    border-radius: var(--radius-lg);
    padding: var(--space-xl);
    color: var(--white);
    font-size:var(--text-lg) ;


}
.edit-card{
    width: 639px;
    height: 498px;
    border-radius: var(--radius-lg);
    background:var(--white) ;

}
.card{
    width: 370px;
    height: 190px;
    color:var(--color-primary) ;
    font-size: var(--text-2xl);
    font-weight: var(--font-semibold);
    border-radius:var(--radius-lg) ;
    text-align: center;
    padding: var(--space-md);
}
.card-success{
background:var(--color-success-light);
}
.card-warning{
background:var(--color-warning);
}
.card-danger{
background:var(--color-danger-light);
}
.card-staff{
    width: 247px;
    height: 131px;
    background: var(--color-card-bg);
    font-size: var(--text-2xl);
    font-weight: var(--font-semibold);
    border-radius:var(--radius-lg) ;   
}
.card-staff h3{
    color: var(--black);
    margin-bottom: var(--space-xl);
    
}
.card-staff p{
    color: var(--white);

}
